
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-vk:before { content: '\e802'; } /* '' */
.icon-left-swiper-button:before { content: '\e803'; } /* '' */
.icon-right-swiper-button:before { content: '\e804'; } /* '' */
